<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner  ratio ratio-16x9">
      <div class="carousel-item active">
        <img src="https://www.shutterstock.com/image-photo/young-female-customer-standing-near-600nw-1727902048.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Explore the ultimate tech essentials in one visual</h5>
          <p>From laptops to headphones, discover the gadgets that define modern productivity and entertainment.</p>
        </div>
      </div>
      <div class="carousel-item ratio ratio-16x9">
        <img src="https://t4.ftcdn.net/jpg/09/13/77/51/360_F_913775110_SfWUE7YMQ5MoOdIsnw5N5Ndvzj5r6XuU.jpg" class="d-block w-100  " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Embrace innovation with our latest tech collection</h5>
          <p>From sleek smartphones to versatile gadgets, stay ahead with cutting-edge solutions.</p>
        </div>
      </div>
      <div class="carousel-item ratio ratio-16x9">
        <img src="https://thumbs.dreamstime.com/b/row-televisions-positioned-electronics-store-displaying-sale-sign-various-models-brands-available-328105411.jpg" class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Discover unbeatable deals on top-brand televisions</h5>
          <p>Explore a wide range of models and find the perfect screen for your home entertainment.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>